# This file is part of EMA-CleanR
# .gitignore - special file for Git telling it which files to ignore when committing changes to the repository

# Ignore RStudio project files/folders
.Rproj.user/
*.Rproj
